/* styles.css */

html {
    box-sizing: border-box;
    text-align: center;
    color: white;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: #161819;
}

h1 {
    text-align: center;
    color: white;
}

.chef, .chicken, .waffle, .apple {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chicken{
    width: 300px;
}

.waffle{
    width: 500px;
}

.apple{
    width: 500px;
}

ul, ol {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.button:hover {
    background: rgb(150, 148, 148);
    color: rgb(0, 0, 0);
}
button {
    padding: 5px;
}